<h1>Crear libro</h1>

<form action="/books/create" method="POST">
<label for="">Título</label>
<input type="text" name="title"/>
<br>
<label for="">Autor</label>
<input type="text" name="author"/>
<br>
<label for="">Descripción</label>
<input type="text" name= "description"/>
<br>
<label for="">Rating</label>
<input type="number" name="rating"/>
<button type="submit">Crear libro</button>
</form>